<form #articleForm="ngForm">
    <mat-toolbar *ngIf="article$ | async as article">
        <span
            [(ngModel)]="article.title"
            [contenteditable]="!article.readonly"
            name="title"
            style="margin-right: 30px;"
        >{{ article.title }}</span>

        <button *ngIf="!article.created" mat-icon-button (click)="create(articleForm);" matTooltip="Create"><mat-icon>save</mat-icon></button>
        <button *ngIf="article.created" mat-icon-button (click)="save(articleForm, article);" matTooltip="Save"><mat-icon>save</mat-icon></button>
        <mat-divider [vertical]="true" style="margin: 0px 10px;"></mat-divider>
        <button mat-icon-button matTooltip="Bold"><mat-icon>format_bold</mat-icon></button>
        <button mat-icon-button matTooltip="Italic"><mat-icon>format_italic</mat-icon></button>
        <mat-divider [vertical]="true" style="margin: 0px 10px;"></mat-divider>
        <button mat-icon-button matTooltip="Bulleted list"><mat-icon>format_list_bulleted</mat-icon></button>
        <button mat-icon-button matTooltip="Numbered list"><mat-icon>format_list_numbered</mat-icon></button>
        <mat-divider [vertical]="true" style="margin: 0px 10px;"></mat-divider>
        <button mat-icon-button matTooltip="Insert photo"><mat-icon>insert_photo</mat-icon></button>
    </mat-toolbar>
    <mat-form-field appearance="fill">
        <mat-label>Markdown document</mat-label>
        <textarea matInput name="contents" ngModel></textarea>
    </mat-form-field>
    <mat-form-field class="toolbar-input" style="display: none;">
        <mat-label>Document slug</mat-label>
        <input matInput name="slug" ngModel>
    </mat-form-field>
</form>