@import "../../../variable";

::ng-deep sh-editor button[mat-icon-button] {
    border-radius: 5px;
    margin: 5px;

    &:hover {
        background-color: rgba(0,0,0,0.12);
        // color: white;
    }
}

::ng-deep sh-editor form {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 66px);

    mat-toolbar {
        height: 50px;
    }

    mat-form-field {
        background-color: #fafafa;

        .mat-form-field-wrapper {
            padding-bottom: 0px;

            .mat-form-field-flex {
                background-color: #fafafa;
            }
        }

        .mat-form-field-underline {
            display: none;
        }

        textarea {
            background-color: #fafafa;
            height: calc(100vh - 102px - 50px);
            resize: none !important;
        }
    }
}