@import "../../../variable";

:host {
    display: block;
    padding-top: 10px;

    .contacts {
        color: gray;

        :hover {
            transition: 0.66s;
            color: $primary;
        }
    }
}

::ng-deep sh-details .mat-tab-header {
    z-index: 2;
    position: sticky;
    top: -10px;
    background-color: #fafafa;
}

.tasks {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.12);
    background-color: white;
    margin-top: 10px;

    .center-text {
        text-align: center;
    }

    :first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    :last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 0px;
    }

    li {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 15px;
        border-bottom: 1px solid rgba(0,0,0,0.12);
        line-height: 28px;
        cursor: pointer;

        .description {
            font-size: 16px;
        }
    }
}

.badges {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;

    .badge {
        display: inline-block;
        flex: 1;
        max-width: 28px;
        min-width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        font-size: 16px;
        border-radius: 4px;
        font-weight: bold;
        margin-right: 5px;
        color: white;

        &--gray {
            background-color: gray;
        }

        &--blue {
            background-color: #03a9f4;
        }

        &--purple {
            background-color: #9c27b0;
        }

        &--orange {
            background-color: #ef6c00;
        }

        &--brown {
            background-color: #795548;
        }

        &--dark-blue {
            background-color: #1565c0;
        }

        &--green {
            background-color: #43a047;
        }

        &--red {
            background-color: #f44336;
        }
    }
}