<div class="contact" *ngIf="contact$ | async as contact">
    <p style="font-size: 28px;"><strong>{{ contact.name }}</strong></p>
    <p class="contacts">
        <a
            mat-icon-button
            matTooltip="Email"
            href="mailto:{{ contact.email }}"
        >
            <mat-icon>email</mat-icon>
        </a>
    </p>
    <sh-task-filter #filterForm></sh-task-filter>
    <mat-tab-group mat-align-tabs="left" animationDuration="0ms">
        <ng-container *ngIf="filters$ | async as filters">
            {{ filters }}
            <ng-container *ngIf="(tasks$ | async | propertyFilter: filters) as tasks;">
                <mat-tab label="{{ tasks.length }} Tasks" *ngIf="tasks?.length; else emptyTasks">
                    <ul class="tasks">
                        <li
                            *ngFor="let task of tasks"
                            routerLinkActive="active"
                            [routerLink]="'/kanban/task/'+ task.id"
                        >
                            <div class="description">[{{ task.project }} - {{ taskStatuses[task.status] }}] {{ task.title }}</div>
                            <div class="badges">
                                <span *ngIf="task.flagged" class="badge badge--orange" matTooltip="Blocked">
                                    <mat-icon inline="true">warning</mat-icon>
                                </span>
                                <span *ngIf="taskTypes.Story === task.type" class="badge badge--blue" matTooltip="Story">
                                    <mat-icon inline="true">article</mat-icon>
                                </span>
                                <span *ngIf="taskTypes.Bug === task.type" class="badge badge--red" matTooltip="Bug">
                                    <mat-icon inline="true">bug_report</mat-icon>
                                </span>
                                <span *ngIf="taskTypes.Feature === task.type" class="badge badge--purple" matTooltip="Feature">
                                    <mat-icon inline="true">build</mat-icon>
                                </span>
                                <span *ngIf="taskTypes.Task === task.type" class="badge badge--green" matTooltip="Task">
                                    <mat-icon inline="true">work</mat-icon>
                                </span>
                                <span *ngIf="taskTypes.Refactor === task.type" class="badge badge--dark-blue" matTooltip="Refactor">
                                    <mat-icon inline="true">find_replace</mat-icon>
                                </span>
                                <span *ngIf="taskTypes.Spike === task.type" class="badge badge--brown" matTooltip="Research">
                                    <mat-icon inline="true">science</mat-icon>
                                </span>
                                <span *ngIf="task.complexity" class="badge badge--gray" [matTooltip]="taskComplexity[task.complexity]">{{ complexityFrom(task.complexity) }}</span>
                            </div>
                        </li>
                    </ul>
                </mat-tab>
                <ng-template #emptyTasks>
                    <mat-tab label="0 Tasks">
                        <ul class="tasks">
                            <li style="width: 100%; text-align: center;">No tasks found</li>
                        </ul>
                    </mat-tab>
                </ng-template>
            </ng-container>
        </ng-container>
        <!-- <mat-tab label="Articles">
            <span>Content 2</span>
        </mat-tab> -->
        <!-- <mat-tab label="Third">Content 3</mat-tab> -->
    </mat-tab-group>
</div>