<div style="display: flex; flex-direction: row;">
    <div class="sections">
        <button
            style="margin: 2px; width: 100%"
            mat-button
            routerLink="/settings/data"
            routerLinkActive="active"
        >Your data</button>
        <button
            style="margin: 2px; width: 100%"
            mat-button
            disabled
            routerLink="/settings/spelling"
            routerLinkActive="active"
        >Spell checker</button>
        <button
            style="margin: 2px; width: 100%"
            mat-button
            disabled
            routerLink="/settings/appearance"
            routerLinkActive="active"
        >Appearance</button>
        <button
            style="margin: 2px; width: 100%"
            mat-button
            (click)="resetApp()"
            color="warn"
        >Reset app</button>
    </div>
    <div style="flex: 5; display: flex; flex-direction: column; padding: 10px;">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <mat-tab-group
    color="accent"
    backgroundColor="primary"
    mat-align-tabs="center"
    headerPosition="below"
    animationDuration="0"
>
    <mat-tab label="Application data">
        <div class="container">
            <mat-card style="margin: 30px; text-align: center;">
                <p>The data in this application is kept client side, but that does not mean you should not be able to export and import that data.</p>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->