@import "../variable";

.sections {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid rgba(0,0,0,0.12);
    height: calc(100vh - 86px);
    background-color: rgba(0,0,0,0.04);
}

.active {
    background-color: $primary;
    color: white;
}