:host {
    display: block;
    height: 100vh;
    width: 100vw;
}

.onboarding {
    & {
        // height: 50vh;
        width: 75vw;
        max-width: 860px;
        margin: 40px auto;
        background-color: #fafafa;
        
        .mat-stepper-vertical {
            background-color: #fafafa;
        }
    }

    &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        > {
            flex: 1;
        }
    }
}