@import "../../../variable";

::ng-deep sh-article mat-toolbar {
    max-height: 50px;
    position: sticky;
    top: 0px;
}

::ng-deep .link {
    &--create {
        text-decoration: none;
        color: $warn;

        &:hover {
            text-decoration: underline;
        }
    }

    &--article {
        text-decoration: none;
        color: $primary;

        &:hover {
            text-decoration: underline;
        }
    }
}

::ng-deep sh-article button[mat-icon-button] {
    border-radius: 5px;
    margin: 5px;

    &:hover {
        background-color: rgba(0,0,0,0.12);
    }
}