<ng-container *ngIf="articles$ | async as articles">
    <div *ngIf="article$ | async as article">
        <mat-toolbar *ngIf="article$ | async as article">
            <span style="margin-right: 30px;">{{ article.title }}</span>
    
            <button mat-icon-button routerLink="./edit" matTooltip="Edit">
                <mat-icon>create</mat-icon>
            </button>
        </mat-toolbar>
        <div style="margin: 10px;" [innerHTML]="marked(article.contents, articles)"></div>
    </div>
</ng-container>