/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./variable";

html, body { min-width: 900px; height: 100%; background-color: $primary; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
