<ng-container *ngIf="!createRoute.isActive && selectedProject$ | async as selectedProject">
    <button
        *ngIf="(projects$ | async)?.length > 1; else singleBoardName"
        mat-menu-item
        matTooltip="Select board"
        style="padding-right: 0px;"
        [matMenuTriggerFor]="sendToSubMenu"
    >
        <span style="font-size: 16px; color: white;">{{ selectedProject }}</span>
        <mat-icon
            style="color: white; margin-left: 10px; margin-top: -2px; font-size: 24px;"
            inline="true"
        >arrow_drop_down</mat-icon>
    </button>
    <ng-template #singleBoardName>
        <button mat-menu-item>
            <span style="font-size: 16px; color: white;">{{ selectedProject }}</span>
        </button>
    </ng-template>
    <mat-menu #sendToSubMenu="matMenu">
        <ng-container *ngFor="let project of projects$ | async">
            <button
                mat-menu-item
                *ngIf="project !== selectedProject"
                (click)="selectProject(project)"
            >
                {{ project }}
            </button>
        </ng-container>
    </mat-menu>
</ng-container>


<ng-container *ngIf="!createRoute.isActive">
    <button
        mat-icon-button
        routerLink="./task"
        matTooltip="Create task"
        routerLinkActive
        #createRoute="routerLinkActive"
    >
        <mat-icon>add</mat-icon>
    </button>

    <mat-divider [vertical]="true"></mat-divider>
</ng-container>

<ng-container>
    <button
        mat-icon-button
        [disabled]="(history.pastActions | async)?.length === 0"
        (click)="history.back();"
        matTooltip="Undo action"
    >
        <mat-icon>undo</mat-icon>
    </button>
    
    <button
        mat-icon-button
        [disabled]="(history.futureActions | async)?.length === 0"
        (click)="history.forward();"
        matTooltip="Redo action"
    >
        <mat-icon>redo</mat-icon>
    </button>
    
    <mat-divider [vertical]="true"></mat-divider>
</ng-container>


<button mat-icon-button style="font-size: 26px;" [matMenuTriggerFor]="menu" matTooltip="More actions">
    <mat-icon>more_vert </mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button
        mat-menu-item
        routerLink="./task"
        routerLinkActive
        #createRoute="routerLinkActive"
        [disabled]="createRoute.isActive"
    >Create task</button>
    <button
        mat-menu-item
        routerLink="./backlog"
        routerLinkActive
        #backlogRoute="routerLinkActive"
        [disabled]="backlogRoute.isActive"
    >Backlog</button>
    <mat-divider></mat-divider>
    <button mat-menu-item [matMenuTriggerFor]="projectMenu">Project</button>
    <mat-menu #projectMenu="matMenu">
        <button mat-menu-item (click)="renameProject()">Rename</button>
        <ng-container *ngIf="(projects$ | async)?.length > 1">
            <button mat-menu-item (click)="removeSelectedProject()">Delete</button>
        </ng-container>
    </mat-menu>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/settings">Settings</button>
    <button mat-menu-item [matMenuTriggerFor]="helpMenu">Help</button>
</mat-menu>

<mat-menu #helpMenu="matMenu">
    <button mat-menu-item disabled>
        <span>Donate <mat-icon style="float: right; margin-right: -5px;" inline="true">launch</mat-icon></span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item disabled>Help center</button>
    <button mat-menu-item disabled>Report an issue...</button>
    <button mat-menu-item (click)="dialog.open('aboutTaskHelper', null)">About Task Helper</button>
</mat-menu>