<ng-container *ngIf="primaryUser$ | async as primaryUser">
    <div class="list">
        <button
            *ngFor="let contact of contacts$ | async"
            mat-button
            routerLinkActive="active"
            [routerLink]="'./'+ contact.id"
        >
            <span>{{ contact.name + ' ' }}</span>
            <span *ngIf="contact.id === primaryUser.id">(you)</span>
        </button>
    </div>
    <div class="contact">
        <router-outlet></router-outlet>
    </div>
</ng-container>