@import "../../variable";

:host {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 65px);

    .list {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-right: 1px solid rgba(0,0,0,0.12);
        height: calc(100vh - 86px);
        background-color: rgba(0,0,0,0.04);
        overflow: auto;

        button {
            width: 100%;
            margin-bottom: 2px;

            &.active {
                background-color: $primary;
                color: white;
            }
        }
    }

    .contact {
        flex: 5;
        padding: 10px;
        overflow: auto;
    }
}