@import "../../../../variable";

.board {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;

    &--title {
        margin: 10px 20px;
    }

    .row {
        flex: 1;
        padding: 5px;

        .header {
            position: relative;

            .addItemAction {
                position: absolute;
                right: 20px;
                top: -5px;
                display: none;
                font-size: 16px;
                color: $accent;
            }
            .title {
                margin: 10px 20px;
                margin-left: 55px;
                font-size: 18px;
    
                .mat-badge-content {
                    top: 0px !important;
                    left: -34px !important;
                    font-size: 18px;
                    padding: 3px;
                }
            }
        }

        &:hover .header .addItemAction {
            display: block;
        }

        mat-list {
            max-height: calc(100vh - 125px);
            min-height: 80px;
            overflow: auto;

            .list-item:last-of-type {
                margin-bottom: 10px;
            }

            .list-item {
                display: block;
                height: inherit;
                min-height: inherit;
                padding: 5px 0;
            }
        }

        .card {
            width: 100%;
            border: 1px solid rgba(0,0,0,0.12);
            cursor: pointer;

            &.disabled {
                opacity: 0.5;
                box-shadow: inherit;
            }

            &.flagged {
                background-color: rgba($primary, 0.2);
            }

            &:not(:hover) {
                box-shadow: inherit;
            }

            p {
                word-wrap: break-word;
                white-space: pre-wrap;
            }

            p.badges {
                display: flex;
                flex-direction: row;

                .badge {
                    display: inline-block;
                    flex: 1;
                    max-width: 28px;
                    min-width: 28px;
                    height: 28px;
                    text-align: center;
                    line-height: 28px;
                    font-size: 16px;
                    border-radius: 4px;
                    font-weight: bold;
                    margin-right: 5px;
                    color: white;

                    &--gray {
                        background-color: gray;
                    }

                    &--blue {
                        background-color: #03a9f4;
                    }

                    &--purple {
                        background-color: #9c27b0;
                    }

                    &--orange {
                        background-color: #ef6c00;
                    }

                    &--brown {
                        background-color: #795548;
                    }

                    &--dark-blue {
                        background-color: #1565c0;
                    }

                    &--green {
                        background-color: #43a047;
                    }

                    &--red {
                        background-color: #f44336;
                    }

                    &--assignee {
                        background-color: $primary;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}