<div
  #contextMenuTrigger="matMenuTrigger"
  style="visibility: hidden; position: fixed;"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu">
    <ng-template
      matMenuContent
      let-task="task"
      let-rowName="rowName"
    >
        <button mat-menu-item [routerLink]="['/kanban/task', { 'status': rowName }]">Create new task</button>
        <ng-container *ngIf="task">
            <button mat-menu-item [routerLink]="'/kanban/task/' + task.id">Open task</button>
            <mat-divider></mat-divider>
            <button mat-menu-item [matMenuTriggerFor]="changeMenu">Update</button>
            <button mat-menu-item [matMenuTriggerFor]="flagMenu">Flag as</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="deleteTask(task);">Delete task</button>

            <mat-menu #flagMenu="matMenu">
                <button (click)="updateTask(task, 'flagged', !task.flagged);" mat-menu-item>Flagged</button>
                <button (click)="updateTask(task, 'hidden', !task.hidden);" mat-menu-item>Hidden</button>
            </mat-menu>
    
            <mat-menu #changeMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="changeStatusMenu">Status</button>
                <button mat-menu-item [matMenuTriggerFor]="changeTypeMenu">Type</button>
                <button mat-menu-item [matMenuTriggerFor]="changeComplexityMenu">Complexity</button>
                <ng-container *ngIf="projects$ | async as projects">
                    <ng-container *ngIf="selectedProject$ | async as selectedProject">
                        <button
                            *ngIf="projects.length > 1"
                            mat-menu-item
                            [matMenuTriggerFor]="changeProjectMenu"
                        >Project</button>
                        <mat-menu #changeProjectMenu="matMenu">
                            <button
                                mat-menu-item
                                *ngFor="let project of projects"
                                [disabled]="project === selectedProject"
                                (click)="updateTask(task, 'project', project);"
                            >{{ project }}</button>
                        </mat-menu>    
                    </ng-container>
                </ng-container>
            </mat-menu>
    
            <mat-menu #changeTypeMenu="matMenu">
                <button
                    *ngFor="let type of types"
                    [disabled]="type === taskTypes[task.type]"
                    (click)="updateTask(task, 'type', taskTypes[type]);"
                    mat-menu-item
                >{{ type }}</button>
            </mat-menu>
    
            <mat-menu #changeStatusMenu="matMenu">
                <button
                    *ngFor="let status of statuses"
                    [disabled]="status === taskStatuses[task.status]"
                    (click)="updateTask(task, 'status', taskStatuses[status]);"
                    mat-menu-item
                >{{ status }}</button>
            </mat-menu>
    
            <mat-menu #changeComplexityMenu="matMenu">
                <button
                    *ngFor="let complexity of complexities"
                    [disabled]="complexity === taskComplexity[task.complexity]"
                    (click)="updateTask(task, 'complexity', taskComplexity[complexity]);"
                    mat-menu-item
                >{{ complexity }}</button>
            </mat-menu>
        </ng-container>
    </ng-template>
</mat-menu>  

<div class="board" cdkDropListGroup>
    <div class="row" *ngIf="(todo$ | async) as tasks" (contextmenu)="openContextMenu($event, undefined, taskStatuses.Todo);">
        <div class="header">
            <h3
                class="title"
                [matBadge]="tasks?.length"
                matBadgePosition="before"
                matBadgeColor="primary"
            >Todo</h3>
        </div>
        <mat-list
            cdkDropList
            [attr.name]="'Todo'"
            #todoList="cdkDropList"
            [cdkDropListData]="tasks"
            (cdkDropListDropped)="drop($event)"
            role="list"
        >
            <mat-list-item cdkDrag *ngFor="let task of tasks" (contextmenu)="openContextMenu($event, task, taskStatuses.Todo);" class="list-item" role="listitem">
                <mat-card class="card" [routerLink]="'./task/' + task.id" [ngClass]="{'disabled': task.hidden, 'flagged': task.flagged }">
                    <p>{{ task.title }}</p>
                    <p class="badges">
                        <span *ngIf="task.flagged" class="badge badge--orange" matTooltip="Blocked">
                            <mat-icon inline="true">warning</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Story === task.type" class="badge badge--blue" matTooltip="Story">
                            <mat-icon inline="true">article</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Bug === task.type" class="badge badge--red" matTooltip="Bug">
                            <mat-icon inline="true">bug_report</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Feature === task.type" class="badge badge--purple" matTooltip="Feature">
                            <mat-icon inline="true">build</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Task === task.type" class="badge badge--green" matTooltip="Task">
                            <mat-icon inline="true">work</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Refactor === task.type" class="badge badge--dark-blue" matTooltip="Refactor">
                            <mat-icon inline="true">find_replace</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Spike === task.type" class="badge badge--brown" matTooltip="Research">
                            <mat-icon inline="true">science</mat-icon>
                        </span>
                        <span *ngIf="task.complexity" class="badge badge--gray" [matTooltip]="taskComplexity[task.complexity]">{{ task.complexity | complexity }}</span>
                        <ng-container *ngIf="task.assignee">
                            <ng-container *ngIf="contacts$ | async as contacts">
                                <span *ngIf="getContactById(contacts, task.assignee) as contact" class="badge badge--assignee" [matTooltip]="contact.name">{{ getInitals(contact.name) }}</span>
                            </ng-container>
                        </ng-container>
                    </p>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="row" *ngIf="(inProgress$ | async) as tasks" (contextmenu)="openContextMenu($event, undefined, taskStatuses['In progress']);">
        <div class="header">
            <h3
                class="title"
                [matBadge]="tasks?.length"
                matBadgePosition="before"
                matBadgeColor="primary"
            >In progress</h3>
        </div>
        <mat-list
            cdkDropList
            [attr.name]="'In progress'"
            #inProgressList="cdkDropList"
            [cdkDropListData]="tasks"
            (cdkDropListDropped)="drop($event)"
            role="list"
        >
            <mat-list-item cdkDrag *ngFor="let task of tasks" (contextmenu)="openContextMenu($event, task, taskStatuses['In progress']);" class="list-item" role="listitem">
                <mat-card [routerLink]="'./task/' + task.id" class="card" [ngClass]="{'disabled': task.hidden, 'flagged': task.flagged }">
                    <p>{{ task.title }}</p>
                    <p class="badges">
                        <span *ngIf="task.flagged" class="badge badge--orange" matTooltip="Blocked">
                            <mat-icon inline="true">warning</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Story === task.type" class="badge badge--blue" matTooltip="Story">
                            <mat-icon inline="true">article</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Bug === task.type" class="badge badge--red" matTooltip="Bug">
                            <mat-icon inline="true">bug_report</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Feature === task.type" class="badge badge--purple" matTooltip="Feature">
                            <mat-icon inline="true">build</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Task === task.type" class="badge badge--green" matTooltip="Task">
                            <mat-icon inline="true">work</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Refactor === task.type" class="badge badge--dark-blue" matTooltip="Refactor">
                            <mat-icon inline="true">find_replace</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Spike === task.type" class="badge badge--brown" matTooltip="Research">
                            <mat-icon inline="true">science</mat-icon>
                        </span>
                        <span *ngIf="task.complexity" class="badge badge--gray" [matTooltip]="taskComplexity[task.complexity]">{{ task.complexity | complexity }}</span>
                        <ng-container *ngIf="task.assignee">
                            <ng-container *ngIf="contacts$ | async as contacts">
                                <span *ngIf="getContactById(contacts, task.assignee) as contact" class="badge badge--assignee" [matTooltip]="contact.name">{{ getInitals(contact.name) }}</span>
                            </ng-container>
                        </ng-container>
                    </p>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="row" *ngIf="(review$ | async) as tasks" (contextmenu)="openContextMenu($event, undefined, taskStatuses.Review);">
        <div class="header">
            <h3
                class="title"
                [matBadge]="tasks?.length"
                matBadgePosition="before"
                matBadgeColor="primary"
            >Review</h3>
        </div>
        <mat-list
            cdkDropList
            [attr.name]="'Review'"
            #reviewList="cdkDropList"
            [cdkDropListData]="tasks"
            (cdkDropListDropped)="drop($event)"
            role="list"
        >
            <mat-list-item cdkDrag *ngFor="let task of tasks" (contextmenu)="openContextMenu($event, task, taskStatuses.Review);" class="list-item" role="listitem">
                <mat-card class="card" [routerLink]="'./task/' + task.id" [ngClass]="{'disabled': task.hidden, 'flagged': task.flagged }">
                    <p>{{ task.title }}</p>
                    <p class="badges">
                        <span *ngIf="task.flagged" class="badge badge--orange" matTooltip="Blocked">
                            <mat-icon inline="true">warning</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Story === task.type" class="badge badge--blue" matTooltip="Story">
                            <mat-icon inline="true">article</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Bug === task.type" class="badge badge--red" matTooltip="Bug">
                            <mat-icon inline="true">bug_report</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Feature === task.type" class="badge badge--purple" matTooltip="Feature">
                            <mat-icon inline="true">build</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Task === task.type" class="badge badge--green" matTooltip="Task">
                            <mat-icon inline="true">work</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Refactor === task.type" class="badge badge--dark-blue" matTooltip="Refactor">
                            <mat-icon inline="true">find_replace</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Spike === task.type" class="badge badge--brown" matTooltip="Research">
                            <mat-icon inline="true">science</mat-icon>
                        </span>
                        <span *ngIf="task.complexity" class="badge badge--gray" [matTooltip]="taskComplexity[task.complexity]">{{ task.complexity | complexity }}</span>
                        <ng-container *ngIf="task.assignee">
                            <ng-container *ngIf="contacts$ | async as contacts">
                                <span *ngIf="getContactById(contacts, task.assignee) as contact" class="badge badge--assignee" [matTooltip]="contact.name">{{ getInitals(contact.name) }}</span>
                            </ng-container>
                        </ng-container>
                    </p>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="row" *ngIf="(done$ | async) as tasks" (contextmenu)="openContextMenu($event, undefined, taskStatuses.Done);">
        <div class="header">
            <h3
                class="title"
                [matBadge]="tasks?.length"
                matBadgePosition="before"
                matBadgeColor="primary"
            >Done</h3>
        </div>
        <mat-list
            cdkDropList
            [attr.name]="'Done'"
            #doneList="cdkDropList"
            [cdkDropListData]="tasks"
            (cdkDropListDropped)="drop($event)"
            role="list"
        >
            <mat-list-item cdkDrag *ngFor="let task of tasks" (contextmenu)="openContextMenu($event, task, taskStatuses.Done);" class="list-item" role="listitem">
                <mat-card class="card" [routerLink]="'./task/' + task.id" [ngClass]="{'disabled': task.hidden, 'flagged': task.flagged }">
                    <p>{{ task.title }}</p>
                    <p class="badges">
                        <span *ngIf="task.flagged" class="badge badge--orange" matTooltip="Blocked">
                            <mat-icon inline="true">warning</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Story === task.type" class="badge badge--blue" matTooltip="Story">
                            <mat-icon inline="true">article</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Bug === task.type" class="badge badge--red" matTooltip="Bug">
                            <mat-icon inline="true">bug_report</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Feature === task.type" class="badge badge--purple" matTooltip="Feature">
                            <mat-icon inline="true">build</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Task === task.type" class="badge badge--green" matTooltip="Task">
                            <mat-icon inline="true">work</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Refactor === task.type" class="badge badge--dark-blue" matTooltip="Refactor">
                            <mat-icon inline="true">find_replace</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Spike === task.type" class="badge badge--brown" matTooltip="Research">
                            <mat-icon inline="true">science</mat-icon>
                        </span>
                        <span *ngIf="task.complexity" class="badge badge--gray" [matTooltip]="taskComplexity[task.complexity]">{{ task.complexity | complexity }}</span>
                        <ng-container *ngIf="task.assignee">
                            <ng-container *ngIf="contacts$ | async as contacts">
                                <span *ngIf="getContactById(contacts, task.assignee) as contact" class="badge badge--assignee" [matTooltip]="contact.name">{{ getInitals(contact.name) }}</span>
                            </ng-container>
                        </ng-container>
                    </p>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </div>
</div>