
<form #form="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Projects</mat-label>
        <mat-select name="project" ngModel multiple>
            <mat-select-trigger>
            {{form.value.project ? form.value.project[0] : ''}}
            <span *ngIf="form.value.project?.length > 1" class="example-additional-selection">
                (+{{form.value.project.length - 1}} {{form.value.project?.length === 2 ? 'other' : 'others'}})
            </span>
            </mat-select-trigger>
            <mat-option *ngFor="let project of projects$ | async" [value]="project">{{ project }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Statuses</mat-label>
        <mat-select name="status" ngModel multiple>
            <mat-select-trigger>
            {{form.value.status ? taskStatuses[form.value.status[0]] : ''}}
            <span *ngIf="form.value.status?.length > 1" class="example-additional-selection">
                (+{{form.value.status.length - 1}} {{form.value.status?.length === 2 ? 'other' : 'others'}})
            </span>
            </mat-select-trigger>
            <mat-option *ngFor="let status of statuses$ | async" [value]="taskStatuses[status]">{{ status }}</mat-option>
        </mat-select>
    </mat-form-field>
</form>