@import "../../variable";

.topbar {
    padding-left: 0px;
    display: flex;

    .actionIcon {
        margin-right: 10px;
        border-top-right-radius: 10px;
    }

    .spacer {
        flex-grow: 1;
    }
}

.actionIcon {
    width: 64px;
    height: 100%;
    border-radius: 0px;
    font-size: 18px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);

    mat-sidenav {
        .container {
            display: flex;
            flex-direction: column;
            width: 64px;
            height: calc(100vh - 65px);
            overflow: auto;

            .spacer {
                flex-grow: 3;
            }

            &.bottom {
                    
                justify-content: flex-end;
            }

            .actionIcon {
                flex: 1;
                min-height: 64px;
                max-height: 64px;
                font-size: 24px;
                color: gray;
                background-color: white;
    
                &.active {
                    color: $primary;
                    background-color: darken(white, 6%);
                }
            
                &[disabled="true"] {
                    color: lighten(gray, 20%);
                }
            }
        }
    }
}