<button
    mat-icon-button
    matTooltip="Create member"
    routerLink="/team/member/create"
    routerLinkActive
    #createPeerRoute="routerLinkActive"
    [disabled]="createPeerRoute.isActive"
>
    <mat-icon>add</mat-icon>
</button>

<mat-divider [vertical]="true"></mat-divider>

<button mat-icon-button style="font-size: 26px;" [matMenuTriggerFor]="menu" matTooltip="More actions">
    <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <ng-container *ngIf="assigneeId$ | async as assigneeId">
        <button
            mat-menu-item
            [routerLink]="['/kanban/task', { assignee: assigneeId }]"
            routerLinkActive
            #createRoute="routerLinkActive"
            [disabled]="createRoute.isActive"
        >Create task</button>
    </ng-container>
    <button
        mat-menu-item
        routerLink="/kanban/backlog"
        routerLinkActive
        #backlogRoute="routerLinkActive"
        [disabled]="backlogRoute.isActive"
    >Backlog</button>
    <ng-container *ngIf="assigneeId$ | async as assigneeId">
        <mat-divider></mat-divider>
        <button
            mat-menu-item
            routerLink="/team/member/{{ assigneeId }}/edit"
            routerLinkActive
            #editRoute="routerLinkActive"
            [disabled]="editRoute.isActive"
        >Edit member</button>
    </ng-container>
    <mat-divider></mat-divider>
    <button
        mat-menu-item
        routerLink="/settings"
        routerLinkActive
        #settingsRoute="routerLinkActive"
        [disabled]="settingsRoute.isActive"
    >Settings</button>
    <button mat-menu-item [matMenuTriggerFor]="helpMenu">Help</button>
</mat-menu>

<mat-menu #helpMenu="matMenu">
    <button mat-menu-item disabled>
        <span>Donate <mat-icon style="float: right; margin-right: -5px;" inline="true">launch</mat-icon></span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item disabled>Help center</button>
    <button mat-menu-item disabled>Report an issue...</button>
    <button mat-menu-item (click)="dialog.open('aboutTaskHelper', null)">About Task Helper</button>
</mat-menu>