<!-- <h3>Users</h3>
<mat-card class="card mat-elevation-z0"></mat-card> -->

<h3>Projects</h3>
<mat-card class="card mat-elevation-z0" style="padding: 0px;">
    <mat-list role="list" style="display: flex; flex-direction: column;">
        <mat-list-item *ngFor="let project of projects$ | async">
            <div class="title">{{ project }}</div>
            <div class="actions">
                <div>
                    <button mat-icon-button (click)="renameProject(project);">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        *ngIf="(projects$ | async)?.length > 1"
                        (click)="removeProject(project);"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-list-item>
      </mat-list>
</mat-card>

<h3>Import / Export data</h3>
<mat-card class="card mat-elevation-z0">
    <p>It's critical that you be in control of your data. This is why our application is designed to be prodominently client side, and it is why you can export and import the application data when ever you want.</p>
    <div class="reverse-container">
        <div class="wrapper">
            <button mat-button (click)="port.export();">Export</button>
            <button mat-button (click)="port.import();">Import</button>
        </div>
    </div>
</mat-card>