.card {
    border: 1px solid rgba(0,0,0,0.12);
    margin: 5px;
    margin-bottom: 20px;
    margin-top: 0px;

    .reverse-container {
        display:flex;
        flex-direction: row-reverse;
    }

    mat-list-item {
        border-bottom: 1px solid rgba(0,0,0,0.12);

        &:last-child {
            border-bottom: 0px;
        }

        ::ng-deep .mat-list-item-content {
            display: flex;
            flex-direction: row;
            width: 100%;
            
    
            .title {
                flex: 5;
            }
    
            .actions {
                flex: 1;
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}