<div class="board">
    <div class="row" *ngIf="(backlog$ | async) as tasks">
        <div class="header">
            <h3
                class="title"
                [matBadge]="tasks?.length"
                matBadgePosition="before"
                matBadgeColor="primary"
            >Backlog</h3>
        </div>
        <mat-list
            [attr.name]="'backlog'"
            role="list"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="tasks"
            (cdkDropListDropped)="drop($event)"
        >
            <mat-list-item cdkDrag *ngFor="let task of tasks" class="list-item" role="listitem">
                <mat-card class="card" [routerLink]="'/kanban/task/' + task.id" [ngClass]="{'disabled': task.hidden, 'flagged': task.flagged }">
                    <p>{{ task.title }}</p>
                    <p class="badges">
                        <span *ngIf="task.flagged" class="badge badge--orange" matTooltip="Blocked">
                            <mat-icon inline="true">warning</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Story === task.type" class="badge badge--blue" matTooltip="Story">
                            <mat-icon inline="true">article</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Bug === task.type" class="badge badge--red" matTooltip="Bug">
                            <mat-icon inline="true">bug_report</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Feature === task.type" class="badge badge--purple" matTooltip="Feature">
                            <mat-icon inline="true">build</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Task === task.type" class="badge badge--green" matTooltip="Task">
                            <mat-icon inline="true">work</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Refactor === task.type" class="badge badge--dark-blue" matTooltip="Refactor">
                            <mat-icon inline="true">find_replace</mat-icon>
                        </span>
                        <span *ngIf="taskTypes.Spike === task.type" class="badge badge--brown" matTooltip="Research">
                            <mat-icon inline="true">science</mat-icon>
                        </span>
                        <span *ngIf="task.complexity" class="badge badge--gray" [matTooltip]="taskComplexity[task.complexity]">{{ task.complexity | complexity }}</span>
                    </p>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </div>
</div>