@import "../../../variable";

form {
    display: flex;
    flex-direction: row;

    .fields {
        flex: 9;
        display: flex;
        flex-direction: column;

        mat-form-field {
            flex: 1;
        }
    }

    .actions {
        flex: 3;
        display: flex;
        flex-direction: column;

        button {
            flex: 1;
            max-height: 36px;
            line-height: 36px;
            max-width: calc(100% - 30px);
            min-width: calc(100% - 30px);
            margin: 5px auto;
        }
    }
}