<form #contact="ngForm">
    <div class="fields">
        <mat-form-field tabindex="-1" style="display: none;">
            <input matInput ngModel name="id" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Full name</mat-label>
            <input matInput name="name" ngModel required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" ngModel required>
        </mat-form-field>
    </div>
    <div class="actions" *ngIf="primaryUser$ | async as primaryUser">
        <button mat-flat-button *ngIf="!contact.value.id" (click)="create();" color="primary">Create</button>
        <button mat-flat-button *ngIf="contact.value.id" (click)="save();" color="primary">Save</button>
        <button mat-flat-button *ngIf="contact.value.id && contact.value.id !== primaryUser.id" (click)="remove();" color="warn">Delete</button>
    </div>
</form>