<mat-tab-group
    color="accent"
    backgroundColor="primary"
    mat-align-tabs="center"
    headerPosition="below"
    animationDuration="0"
>
    <mat-tab label="Details">
        <div class="kanban">
            <div class="details">
                <form #task="ngForm" autocomplete="off">
                    <div class="content">
                        <mat-form-field tabindex="-1" style="display: none;">
                            <input matInput ngModel name="id" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Title</mat-label>
                            <input matInput name="title" ngModel required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea
                                matTextareaAutosize
                                cdkAutosizeMinRows="16"
                                ngModel
                                name="description"
                                spellcheck="false"
                                matInput
                            ></textarea>
                        </mat-form-field>
                        <mat-slide-toggle *ngIf="!task.value.id" ngModel name="createMultiple">Create multiple tasks</mat-slide-toggle>
                    </div>
                    <div class="actions">
                        <button
                            type="submit"
                            mat-flat-button
                            *ngIf="!task.value.id"
                            [disabled]="task.pristine || !task.valid"
                            color="primary"
                            (click)="create(task.value)"
                        >
                            Create
                        </button>
                        <button
                            type="submit"
                            mat-flat-button
                            *ngIf="task.value.id"
                            [disabled]="task.pristine || !task.valid"
                            color="primary"
                            (click)="update(task.value)"
                        >
                            Update
                        </button>
                        <button
                            type="submit"
                            mat-flat-button
                            *ngIf="task.value.id"
                            color="warn"
                            (click)="remove(task.value)"
                        >
                            Delete
                        </button>
                        <mat-form-field>
                            <input type="text"
                                placeholder="Project"
                                matInput
                                required
                                ngModel
                                name="project"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let project of projects$ | async" [value]="project">
                                    {{ project }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Assignee</mat-label>
                                <mat-select ngModel name="assignee">
                                    <mat-option>
                                        None
                                    </mat-option>
                                    <mat-option
                                        *ngFor="let contact of assignees$ | async"
                                        [value]="contact.id"
                                    >
                                        {{ contact.name }}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select ngModel name="type">
                                <mat-option>
                                    None
                                </mat-option>
                                <mat-option *ngFor="let type of taskTypes" [value]="type">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Status</mat-label>
                            <mat-select ngModel name="status" required>
                                <mat-option>
                                    None
                                </mat-option>
                                <mat-option *ngFor="let status of taskStatuses" [value]="status">
                                    {{ status }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> 
                        <mat-form-field>
                            <mat-label>Complexity</mat-label>
                            <mat-select ngModel name="complexity">
                                <mat-option>
                                    None
                                </mat-option>
                                <mat-option *ngFor="let complexity of taskComplexities" [value]="complexity">
                                    {{ complexity }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-slide-toggle ngModel name="hidden">Hidden</mat-slide-toggle>
                        <mat-slide-toggle ngModel name="flagged">Flagged</mat-slide-toggle>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>
    <mat-tab [disabled]="!task.value.id" label="Notes">
        <div class="kanban">
            <div class="notes">
                <div class="messages" *ngIf="notes$ | async as notes">
                    <div #messages>
                        <p *ngFor="let note of notes">
                            <strong>{{ note.created | date:'short' }}: </strong> <i *ngIf="note.type === 1; else plainNote">{{ note.message }}</i>
                            <ng-template #plainNote>{{ note.message }}</ng-template>
                        </p>
                    </div>
                </div>
                <form #note="ngForm" autocomplete="off" (submit)="createNote(note, $event)">
                    <mat-form-field>
                        <mat-label>Note about {{ task.value.title }}</mat-label>
                        <input matInput name="note" ngModel minlength="2">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>