@import "../../../../variable";

.hidden {
    display: none !important;
}

.kanban {
    display: flex;
    flex-direction: row;

    .row {
        display: flex;
        flex-direction: column;

        flex: 1;
        min-width: 100px;
        max-width: 100px;
        height: calc(100vh - 86px);
        border-right: 1px solid rgba(0,0,0,0.12);
        background-color: lighten(gray, 45%);
        padding: 10px 2px;


        button {
            flex: 1;
            max-height: 30px;
            line-height: 30px;

            margin: 2px;
            margin-left: 4px;
            margin-right: -3px;
            padding-left: 6px;

            border-radius: 0px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            
            border: 1px solid rgba(0,0,0,0.12);
            
            color: gray;
            background-color: #fafafa;
            border-left: 5px solid gray;

            &:hover:not([disabled]) {
                color: lighten($warn, 10%);
                background-color: #fafafa;
                border-left: 5px solid lighten($warn, 30%);
                cursor: pointer;
            }

            &.selected:not([disabled]) {
                background-color: #fafafa;
                border-left: 5px solid lighten($primary, 20%);
                border-right: 0px;
                margin-right: -3px;
                color: $primary;
            }
        }
    }

    .notes {
        flex: 5;
        height: calc(100vh - 113px);
        
        display: flex;
        flex-direction: column;

        div.messages {
            display: flex;
            height: calc(100vh - 118px);
            overflow: auto;
            flex-direction: column-reverse;
            padding: 20px;
            margin-top: 5px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
    }

    .details {
        flex: 5;
        height: calc(100vh - 113px);
        display: flex;
        flex-direction: row;

        form {
            flex: 1;
            display: flex;
            flex-direction: row;
            padding: 10px;
            overflow: auto;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
            }

            .actions {
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            mat-form-field, button, mat-slide-toggle {
                margin: 5px 10px;
            }
        }
    }
}